

body {
  background-color: grey;
  background-size: 250%;
}
#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #d8d8d8;
  border: 2px black solid;
  box-shadow: 20px 20px 20px #403E49;
  right: 30px;
  top: 30px;
}
.header {
 background-color: #403E49; 
  background: linear-gradient(300deg, #537895 0%, #09203f 55%, #537895 75%);
 text-align: center;
 font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: white;
    border-bottom: 2px black solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
  box-shadow: 20px 20px 20px #403E49;
  right: 30px;
  top: 30px;
  }

#profile-pic {
  width: 200px;
  height: auto;
}

h1 {
 font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0.15rem;
} 

h2 {
  padding-bottom: 0.8rem;
}

.assign {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background: rgb(88, 81, 81);
  color: white;
  text-align: left;
  padding: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
  padding: 10px;
}

.hspec {
  text-align: left;
  padding-left: 1rem;
  border-bottom: 2px black solid;
}

nav ul li {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  margin-left: 3rem;

}

footer {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #403E49; 
  background: linear-gradient(300deg, #537895 0%, #09203f 55%, #537895 75%);
  border-top: 2px solid black;
}

#info {
  font-size: 14px;
  color: white;
  text-align: center;
}
 
.link {
  color: white;
}

.pink {
  color: #e639a1;
}
