

body {
  background-color: grey;
  background-size: 250%;
}
/* #content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #d8d8d8;
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: 20px 20px 20px #403E49;
  right: 30px;
  top: 30px;
} */
.header {
 background-color: #403E49; 
  background: linear-gradient(300deg, #537895 0%, #09203f 55%, #537895 75%);
 text-align: center;
 font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: white;
    border-bottom: 2px black solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 20px 20px 20px #403E49;
  right: 30px;
  top: 30px;
  }

#profile-pic {
  width: 150px;
  float: right;
  margin-top: -50px;
  position: relative;
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #403E49;
  right: 10px;
  top: 10px;
}

h1 {
 font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0.15rem;
}    
h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
  padding: 10px;
}

.hspec {
  text-align: left;
  padding-left: 1rem;
  border-bottom: 2px black solid;
}

.pspec {
  text-align: left;
  background-color: #d8d8d8;
  margin-top: 1em;
}

nav li {
  padding: .2rem;
  font-size: 1.5rem;
  margin-left: 3rem;

}
nav ul {
margin: 0;
}


footer {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #403E49; 
  background: linear-gradient(300deg, #537895 0%, #09203f 55%, #537895 75%);
  border-top: 2px solid black;
  border-radius: 20px;
}

#info {
  font-size: 14px;
  color: white;
 text-align: center;
}
  font-size: 14px;
  color: pink;
 text-align: center;
 margin-top: 0em;
}

.link {
  color: white;
}

.pink {
  color: #e639a1;
}
