/****** small or phone view (same as main.css) ***********/

body {
    margin: 0;
    padding: 0;
    line-height: 1rem;
    background-color: #565e6b;
}

#content {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #d8d8d8;
    border: 2px black solid;
    box-shadow: 20px 20px 20px #403E49;
    right: 30px;
    top: 30px;
  }

header {
    background-color: #5e8591;
    text-align: center;
    color: #f1f2d0;
    border-top: 1px solid black;
    border-bottom: 4px solid black;
}

h1 {
    font-family: 'Baloo Chettan', cursive;
    font-size: 1.5rem;
    text-shadow: rgba(17, 17, 19, 0.75) 3px 3px 3px
}

main {
	max-width: 1300px;
	margin: 0 auto;  /*important to center */
}
h2 {
    font-family: 'Baloo Chettan', cursive;
	color: white;
}

p {
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
	color: #f1f2d0;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 1rem;
}

main section {
	margin: 0.5rem;
    padding: 0rem;
	background-color: grey;
}

.column {
    background-position: 100%;
    border-radius: 25px;
    border: 5px black solid;
    box-shadow: 10px 10px 10px #403E49;
}

.c1 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
    color: white;
    text-align: center;
    background-color: rgb(134, 16, 105);
    margin-top: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: .5rem;
    padding-bottom: .6rem;
    margin-bottom: 0rem;
    border-bottom: 3px black solid;
}

.c2 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
    color: white;
    text-align: center;
    background-color: rgb(26, 134, 16);
    margin-top: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: .5rem;
    padding-bottom: .6rem;
    margin-bottom: 0rem;
    border-bottom: 3px black solid;
}

.c3 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
    color: white;
    text-align: center;
    background-color: rgb(13, 2, 112);
    margin-top: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: .5rem;
    padding-bottom: .6rem;
    margin-bottom: 0rem;
    border-bottom: 3px black solid;
}

.business {
    color: white;
}

main picture {
    display: block;
    padding-top: 0px;
}

main section picture img {
    height: auto;
    width: 100%;
    vertical-align: center;
    border-bottom: 3px black solid;
}

footer {
    background-color: #5e8591;
    text-align: center;
    padding: .5rem;
    color: white;
    border-top: 4px solid black;
    border-bottom: 1px solid black;
}

#info {
    color: white;
    font-size: 1rem;
}

  .link {
    color: white;
  }

  .date {
    color: black;
    font-family: 'Baloo Chettan', cursive;

  }
  