body {
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
header {
    max-width: 100%;
	margin: 0 auto;
    background-color: #659DBD; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
    border: 1px solid #000; 
    box-shadow: 5px 5px 5px black;
}

.headings {
	display: flex;
    flex-direction: column;
    margin: 0 0 0 17px;
    padding-left: 2rem;
}

.headings h1 {
	font-size: 1.6rem;
    color: white;
    font-family: 'Baloo Chettan', cursive;
	letter-spacing: 1pt;
    text-shadow: 5px 5px 5px black;
}

.headings .m {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
	letter-spacing: 1pt;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #FBEEC1;
    padding: 0 0 2rem;
}
#content {
     min-height: 100%;
}

.subhead {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    padding: .4rem;
    color: white;
    text-shadow: 3px 3px 5px black;
}

.navigation {
    max-width: 100%;
    margin: 0 auto;
	background-color: #BC986A;
	list-style: none;
    padding: 0;
}

.navigation li:first-child {
	display: inline-block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
    color: black;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: bold;
	text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.navigation a:hover {
	color:#BC986A;
	background-color: #fff;
	font-weight: 700;
}
.active {
    background-color: #8D8741;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) 
to display block because the repsonsive class is added to the end of the class list 
like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}
/* ***************************************** */

#bannerad {
    width: 100vw;
    margin: 0 auto;
    display: none;
    /* visibility: hidden; */
    text-align: center; 
    border: 1px solid #000; 
    padding: .8rem;
	background-color: rgba(255, 20, 145, 0.4);
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    position: fixed;
    z-index: 1;
}

.gridbox {
    /* display: block; */
    max-width: 60rem;
    height: auto;
    margin: auto;
    border: 1px solid #000; 
    padding: 1rem;
	background-color: #BC986A;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    /* font-style: italic; */
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(6, 400px); */
    gap: 1rem;
    justify-content: center;
}

/* ----------------------------------------- */
.gallery-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    padding: .4rem;
    color: white;
    text-shadow: 3px 3px 5px black;
}

/* figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 400px);
    gap: 20px;
    justify-content: center;
} */

img[data-src] {
	filter: blur(0.5em);
}

img {
	grid-column: 1 / 1;
	filter: blur(0em);
	transition: filter 3s;
}
 figcaption {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    /* justify-content: center; */
 }
/* --------------------------- */


/* h2 {
    text-align: center;
} */


/*******************************************************
*********5-Day Forecast Table ************************
****************Start********************************* */
.forecastdiv {
    display: none;
}

/* ******************End*********************************
  *********5-Day Forecast Table ************************
  ****************************************************** */


.contact  {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    max-width: 60rem;
    height: auto;
    margin: 10px auto;
    padding: 1rem;
    background-color: #BC986A;
    border: 1px solid #000; 
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.contactimg {
    display: none;
}

.address {
    align-content: center;
    justify-content: left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;

    white-space: nowrap;
}

.sm {
    width: 2rem;
    height: auto;
    justify-content: left;
    padding: .2rem .2rem .2rem 0rem;
}

.pin {
    width: .7rem;
    height: auto;
    background-color: transparent;
}

.map {
    display: none;
}

footer {
    max-width: 60rem;
	margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000; 
	padding: 1rem;
    background-color: #659DBD; 
    text-align: center;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#info {
    color: white;
    font-size: 1rem;
}

.link {
    color: white;
  }

.date {
    color: white;
  }
