body {
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
/* see codePen - Header using Flexbox */
header {
    background-color: #659DBD; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
    color: white;
    font-family: 'Baloo Chettan', cursive;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: black;
	margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
}
/* ******************************* */
.content {
    min-height: 100%;
}

header,
main,
footer {
    max-width: 100%;
	margin: 0 auto;
}

.subhead {
    text-align: center;
    color: #536878;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8rem;
}

/* see codePen - Responsive 'Hamburger Menu' */
.navigation {
    max-width: 100%;
    margin: 0 auto;
	background-color: #BC986A;
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: black;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color:#BC986A;
	background-color: #fff;
	font-weight: 700;
}
.active {
    color: #659DBD;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) 
to display block because the repsonsive class is added to the end of the class list 
like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

/* *********************************** */

.contentbox {
    display: block;
    max-width: 760px;
    margin: 10px auto;
    border: 1px dashed #000; 
    padding: 15px;
	background-color: #BC986A;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
	padding: 10px;
    background-color: #659DBD; 
    text-align: center;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#info {
    color: white;
    font-size: 1rem;
}

.link {
    color: white;
  }

.date {
    color: black;
    font-family: 'Baloo Chettan', cursive;
  }
