/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {

	header img {
		width: 100%;
	}
	.headings h1 {
		font-size: 2.5rem;
	}
	.headings .m {
		letter-spacing: 1.5pt;
		font-size: 1.6rem;
		margin-left: 1rem;
	}

	.navigation li:first-child {
		text-align: center;
		display: inline-block;
	}
	
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		font-size: 1.2rem;
		text-align: center;
	}
	.contentbox {
		font-size: 1rem;
	}

/* -------------------townsites--------------------- */
.townsites {
  display: flex;
  flex-wrap: wrap;
}

main section {
display: flex;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

section:nth-child(odd) {
  flex-direction: row-reverse;
}

section div {
  margin: auto;
  padding: 1rem;

}

section img {
  width: 100%;
  height: auto;
  margin: 1rem;
}

/* -------------- Idaho Weather Article ------------------ */

.article {
    display: block;
}
.articleimg {
    width: 20rem;
    height: auto;
    float: right;
	margin: 1rem;
    box-shadow: 0 0 20px black;
}

}