/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {

	header img {
		width: 100%;
	}
	.headings h1 {
		font-size: 2.5rem;
	}
	.headings .m {
		letter-spacing: 1.5pt;
		font-size: 1.6rem;
		margin-left: 1rem;
	}

	.navigation li:first-child {
		text-align: center;
		display: inline-block;
	}
	
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		font-size: 1.2rem;
		text-align: center;
	}
	.contentbox {
		font-size: 1rem;
	}

/* -------------------townsites--------------------- */


/* .townsites {
  grid-template-rows: repeat(3, 1fr);
} */

/* .townsites section:nth-child(1) {

} */

/* .townsites section {
  height: auto;
  justify-content: center;
  text-align: center;
  padding: 5px;
  padding-bottom: 1rem;
  align-content: center;
  background-color: #FBEEC1;
  border: 1px solid black;
} */


/* .townsites h2 {
  font-size: 2rem;
} */

/* h3 {
  font-size: 16px;
  height: 32px;
  font-style: italic;
} */

/* h3::after {
  content: "\A" ;
  white-space: pre;
} */

/* .townsites p {
  font-size: 1rem;
  font-weight: bold;
} */

/* .p3 {
  padding-bottom: 16px;
} */

/* .townsites img {
  height: 20rem;
  width: auto;
  box-shadow: 0 0 20px black;
} */


/* ------------------------------------------- */
  .article {
    display: block;
}
.articleimg {
    width: 20rem;
    height: auto;
    float: right;
    margin: 1rem;
    box-shadow: 5px 5px 5px black;
}

.map {
  display: flex;
	width: 14rem;
  height: auto;
  padding: 1rem;
}

}