body {
    background-color: rgb(44, 32, 136);
}

 h1 {
    font-size: 1.6rem;
    color: white;
    font-family: 'Baloo Chettan', cursive;
	letter-spacing: 1pt;
    text-shadow: 5px 5px 5px black;
 }
 
picture {
    align-items: center;
}

img {
    height: 100%;
    width: auto;
}