/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    
    .headings h1 {
        font-size: 3rem;
    }
    .headings .m {
		font-size: 2rem;
    }
    /*----------- MAIN --------------*/
	form label.sbs {
		padding: .4rem 0;
	}

    /* img[data-src] {
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
    }
    
    figure:hover {
        /* box-shadow: 0 0 50px #333;
        box-shadow: 5px 5px 5px black;
    }

    .contactimg {
        display: block;
        max-width: 22rem;
        height: auto;
        padding: .1rem 0rem .1rem .1rem;
        box-shadow: 5px 5px 5px black;
    } */
    
    footer {
        font-size: 1.1rem;
    }
}