
body {
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
header {
    max-width: 100%;
	margin: 0 auto;
    background-color: #659DBD; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
    border: 1px solid #000; 
    box-shadow: 5px 5px 5px black;
}

.headings {
	display: flex;
    flex-direction: column;
    margin: 0 0 0 17px;
    padding-left: 2rem;
}

.headings h1 {
	font-size: 1.6rem;
    color: white;
    font-family: 'Baloo Chettan', cursive;
	letter-spacing: 1pt;
    text-shadow: 5px 5px 5px black;
}

.headings .m {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
	letter-spacing: 1pt;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #FBEEC1;
    padding: 0 0 2rem;
}
#content {
     min-height: 100%;
}

.subhead {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    padding: .4rem;
    color: white;
    text-shadow: 3px 3px 5px black;
}

.navigation {
    max-width: 100%;
    margin: 0 auto;
	background-color: #BC986A;
	list-style: none;
    padding: 0;
}

.navigation li:first-child {
	display: inline-block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
    color: black;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: bold;
	text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.navigation a:hover {
	color:#BC986A;
	background-color: #fff;
	font-weight: 700;
}
.active {
    background-color: #8D8741;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) 
to display block because the repsonsive class is added to the end of the class list 
like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

/*----------- MAIN --------------*/


.box {
    max-width: 60rem;
    justify-content: center;
    padding: 1rem;
    height: auto;
    margin: auto;
    border-top: 1px solid #000; 
    border-right: 1px solid #000; 
    border-left: 1px solid #000; 
    background-color: #BC986A;
    
}
/* Storm Center */
.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    color: white;
    text-shadow: 3px 3px 5px black;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/*------------FORM---------------*/

/* Report the Weather in Your Area */
.report {
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: #659DBD;
    border: 4px solid #000; 
    text-shadow: 3px 3px 5px black;
    padding-top: .5rem;
    padding-bottom: .5rem; 
    padding-left: .5rem; 
}

#stormform {
    padding: .2rem 14rem 2rem 14rem;
    min-height: 20rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: #FBEEC1;
    border: 1px solid black;
    margin: 2rem;
}

.fieldset {
    margin: 2rem 0;
    border: 2px solid #445ba9;
    border-radius: 10px;
    padding-left: 2%;
    padding-bottom: 2rem;
}

input {
    display: block;
    padding: .5rem 2%;
    padding-left: 2%;
    width: 20rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}
.top:focus {
    box-shadow: 0 0 5px #ccc;
}
#stormtype {
    font-size: 1.3rem;
}
#storm-region {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding: .5rem;
}
legend {
    color: darkblue;
    font-size: 1.5rem;
    font-weight: bold; 
    margin: 0 1rem;
    padding: .5rem;
}

.top {
    display: block;
    font-family: 'Raleway', sans-serif;
    padding: .5rem;

    color: #9c2c13;
    font-size: 1rem;
    font-weight: bold;
}
.ratingvalue {
    justify-content: center;
    color: #9c2c13;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    padding: .5rem;
    border: 1px solid black;
}

p, label {
    color: #9c2c13;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 2%;
}



    /* input[type="radio"] { */
    /* margin-top: -1px; */
    /* vertical-align: middle; */
    /* height: 100%; */
    /* margin: .4rem; */
}
#radio .sbs {
    vertical-align: middle;
    margin-top: -1px;
    color: #9c2c13;
    font-weight: bold;
    padding: 0;
}

.submit-button {
    border: 4px solid black;
    background-color: #9c2c13;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 30rem;
    box-shadow: 10px 10px 10px black;
}
.submit-button:hover { background-color: #8D8741; color: white; }


input:required {
    border: #9c2c13 solid 4px;
    background-color: #f3d3cc;

}

input:required:valid {
    border: #8D8741 solid 4px;
    background-color: rgb(204, 241, 204);
}

/*----------- FOOTER --------------*/

footer {
    max-width: 60rem;
	margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000; 
	padding: 1rem;
    background-color: #659DBD; 
    text-align: center;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#info {
    color: white;
    font-size: 1rem;
}

.link {
    color: white;
  }

.date {
    color: white;
  }
