@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// ************************************
* {
  font-family: 'BYUI Open Sans';
}
.site-banner {
  margin: 0 0;
  width: 100%;
  height: 4rem;
  background-color: $byui-blue;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}
/* Match any class name that starts with icon */
[class^="icon"] {
  font-size: 2rem;
  color: white;
  // ***** position icon *************
  position: relative;
  top: 15px;
  left: 0px;
}
h1 {
  display:  none;
}
h2 {
  font-weight: 300;
  color: $dark-gray;
  text-align: center;
}
.icon-byui-logo {
  padding: 1rem;
  background-color: black;
}
// *************************************

// *** remove link underline from anchor ****
.site-banner__right a {
  text-decoration: none;
}

// *** form ****************************** 
form {
  display: none;
}
// **************************************
.interest-box__content {
  color: $byui-blue;
  font-weight: 400;
}
body {
background-color: $light-gray;
color: $body-font;
}