@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// ************************************

* {
  font-family: 'BYUI Open Sans';
}
.site-banner {
  margin: 0 0;
  width: 100%;
  height: 4rem;
  background-color: $byui-blue;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}
/* Match any class name that starts with icon */
[class^="icon"] {
  font-size: 2rem;
  color: white;
  // ***** position icon *************
  position: relative;
  top: 15px;
  left: 0px;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  }
h1 {
  display:  none;
}
h2 {
  font-weight: 300;
  color: $dark-gray;
  text-align: center;
}
.icon-byui-logo {
  padding: 1rem;
  background-color: black;
}
// *************************************

// *** remove link underline from anchor ****
.site-banner__right a {
  text-decoration: none;
}

// *** form ****************************** 
form {
  display: none;
}
// **************************************
.interest-box__content {
  color: $byui-blue;
  font-weight: 400;
}
.list-of-links {
  font-weight: 400;
  text-align: left;
}
.list-of-links ul {
  list-style-type: none;
  font-size: 1.2rem;
}
li {
  text-align: left;
  padding: .5rem;
  border: 2px solid black;
  margin-bottom: -1px;
}
.medgray {
  background-color: $med-gray;
  text-decoration: none;
}
.darkgray {
  background-color: $dark-gray;
}
.byuiblue {
  background-color: $byui-blue;
}
.lightgray {
  background-color: $light-gray;
}
.list-of-links__box {
padding: 1rem;
}
.list-of-links__information {
  color: black;
  text-decoration: none;
text-align: right;
}
.icon-triangle-down {
color: black;
font-size: 1rem;
// position down arrow
padding-left: 4rem;
position: relative;
top: 2px;
}
.list-of-links__resources-title {
  color: $light-gray;
  text-decoration: none;
}
.list-of-links__resources-item {
  color: $byui-blue;
  text-decoration: none;
}
.list-of-links__dates-title {
  color: $light-gray;
  text-decoration: none;
}
.list-of-links__dates-item {
  color: black;
  text-decoration: none;
}
.news__title {
  text-align: left;
  color: black;
  font-weight: 400;
}
.newsroom {
  text-align: left;
}
.newsroom .large {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.newsroom .small {
  display: flex;
  flex-direction: column;
}
.newsroom__article {
  border-top: 2px solid $med-gray;
  padding-left: 2rem;
}
.newsroom__article-img {
  display: none;
}
.newsroom__article-date {
  color: black;
}
.newsroom__article-title {
  color: $byui-blue;
}
.newsroom__article-description {
  color: black;
  font-family: serif;
}
.newsroom__button {
  background-color: $byui-blue;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  padding: .5rem;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 50%;
}
.homepage__taylor-building {
  position: absolute;
  left: 50%;
  margin-top: 4rem;
}
body {
background-color: white;
color: $body-font;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .page-wrapper {
  display: grid;
  // grid-template-rows: repeat(10, 10%);
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  }
  .interest-box {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .interest-box__content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .interest-box__content--img--large {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .interest__image1 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .list-of-links {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .newsroom .large {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}