@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
// * {
//   display: flex;
//   flex-direction: column;
//   }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// ************************************

* {
  font-family: 'BYUI Open Sans';
}
.site-banner {
  margin: 0 0;
  width: 100%;
  height: 4rem;
  background-color: $byui-blue;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}
/* Match any class name that starts with icon */
[class^="icon"] {
  font-size: 2rem;
  color: white;
  // ***** position icon *************
  position: relative;
  top: 15px;
  left: 0px;
}

h1 {
  display:  none;
}
h2 {
  font-weight: 300;
  color: $dark-gray;
  text-align: center;
}
.icon-byui-logo {
  padding: 1rem;
  background-color: black;
}
// *************************************

// *** remove link underline from anchor ****
.site-banner__right a {
  text-decoration: none;
}

// *** form ****************************** 
form {
  display: none;
}
// **************************************
.page-wrapper {
  display: flex;
  flex-direction: column;
  }

.interest-box {
  color: $byui-blue;
  font-weight: 400;
}
.interest-box__hero {
  max-width: 100%;
}
.list-of-links {
  font-weight: 400;
  text-align: left;
}
.list-of-links ul {
  list-style-type: none;
  font-size: 1.2rem;
}
li {
  text-align: left;
  padding: .5rem;
  border: 2px solid black;
  margin-bottom: -1px;
}
.medgray {
  background-color: $med-gray;
  text-decoration: none;
}
.darkgray {
  background-color: $dark-gray;
}
.byuiblue {
  background-color: $byui-blue;
}
.lightgray {
  background-color: $light-gray;
}
.list-of-links__box {
padding: 1rem;
}
.list-of-links__information {
  color: black;
  text-decoration: none;
text-align: right;
}
.icon-triangle-down {
color: black;
font-size: 1rem;
// position down arrow
padding-left: 4rem;
position: relative;
top: 2px;
}
.list-of-links__resources-title {
  color: $light-gray;
  text-decoration: none;
}
.list-of-links__resources-item {
  color: $byui-blue;
  text-decoration: none;
}
.list-of-links__dates-title {
  color: $light-gray;
  text-decoration: none;
}
.list-of-links__dates-item {
  color: black;
  text-decoration: none;
}
.news__title {
  text-align: left;
  color: black;
  font-weight: 400;
}
.newsroom {
  text-align: left;
}

.newsroom__article {
  border-top: 2px solid $med-gray;
  padding-left: 2rem;
}
.newsroom__article-img {
  display: none;
}
.newsroom__article-date {
  color: black;
}
.newsroom__article-title {
  color: $byui-blue;
}
.newsroom__article-description {
  color: black;
  font-family: serif;
}
.newsroom__button {
  background-color: $byui-blue;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  padding: .5rem;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 50%;
}
.taylor-building {
  margin-top: 4rem;
  margin-left: 50%;
}
body {
background-color: white;
color: $body-font;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  // .page-wrapper {
  // display: grid;
  // grid-template-rows: repeat(8, 1fr);
  // grid-template-columns: repeat(3, 1fr);
  // align-items: center;
  // }
  .page-wrapper {
    border: 10px solid purple;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    }
    .news__title {
      margin-left: 2rem;
    }
    .newsroom-container {
      display: flex;
      flex-direction: column;
    }
    .newsroom__article {
      padding: 20px;
      display: grid;
      grid-template-columns: 150px 1fr;
      gap: 20px;
      align-items: center;
    }
    .newsroom__article-img {
      display: block;
      width: 100%;
    }
    .newsroom__article-description {
font-size: 1.2rem;
    }
    // .newsroom__button {
      // position: relative;
      // margin-top: 1rem;
      // left: 50%;
    // }
    // .interest-box {
    // border: 10px solid red;
    //   display: grid;
    //   gap: 10px;
    // grid-template-columns: 1fr 1fr 1fr;
    // }
    // .interest-box > img {
      // width: 100%;
  // grid-column: 3fr;
// }
// .interest-box > figure {
  // width: 100%;
  // grid-column: 1fr;
// }

  // section > div {
  //   grid-row-start: 1;
  //   grid-row-end: 4;
  //   grid-column-start: 1;
  //   grid-column-end: 3;
  // }
  // section > aside {
  //   grid-row-start: 1;
  //   grid-row-end: 5;
  //   grid-column-start: 3;
  //   grid-column-end: 4;
  // }
  // section > article {
  //   grid-row-start: 5;
  //   grid-row-end: 9;
  //   grid-column-start: 1;
  //   grid-column-end: 3;
  // }
  // .interest-box {
  //   display: grid;
  //   grid-template-rows: repeat(3, 1fr);
  //   grid-template-columns: repeat(4, 1fr);
  //   align-items: center;
  // }
  // .interest-box__hero {
  //   grid-row-start: 1;
  //   grid-row-end: 3;
  //   grid-column-start: 1;
  //   grid-column-end: 4;
  // }
  // .interest__image1 {
  //   grid-row-start: 3;
  //   grid-row-end: 4;
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  // }
  // .interest__image2 {
  //   grid-row-start: 3;
  //   grid-row-end: 4;
  //   grid-column-start: 2;
  //   grid-column-end: 3;
  // }.interest__image3 {
  //   grid-row-start: 3;
  //   grid-row-end: 4;
  //   grid-column-start: 3;
  //   grid-column-end: 4;
  // }
  // .list-of-links {
  //   display: grid;
  //   grid-template-rows: repeat(16, 1fr);
  //   grid-template-columns: 1fr;
  //   align-items: center;
  // }
  // .list-of-links__information {
  //   grid-row-start: 1;
  //   grid-row-end: 2;
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  // }
  // .list-of-links__resources {
  //   grid-row-start: 3;
  //   grid-row-end: 10;
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  // }
  // .list-of-links__dates {
  //   grid-row-start: 11;
  //   grid-row-end: 16;
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  // }
  // .newsroom {
  //   display: grid;
  //   grid-template-rows: repeat(7, 1fr);
  //   grid-template-columns: 1fr;
  // }
  // .news__title {
  //   grid-row-start: 1;
  //   grid-row-end: 2;
  //   grid-column-start: 4;
  //   grid-column-end: 5;
  // }
  // .newsroom__article {
  //   grid-row-start: 2;
  //   grid-row-end: 7;
  //   grid-column-start: 4;
  //   grid-column-end: 5;
  // }
}