/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {

	header img {
		width: 100%;
	}
	.headings h1 {
		font-size: 2.5rem;
	}
	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: black;
	}
	.contentbox {
		font-size: 1rem;
	}
}