body {
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
header {
    max-width: 100%;
	margin: 0 auto;
    background-color: #659DBD; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
    border: 1px solid #000; 
    box-shadow: 5px 5px 5px black;

}

.headings {
	display: flex;
    flex-direction: column;
    margin: 0 0 0 17px;
    padding-left: 2rem;
}

.headings h1 {
	font-size: 1.6rem;
    color: white;
    font-family: 'Baloo Chettan', cursive;
	letter-spacing: 1pt;
    text-shadow: 5px 5px 5px black;
}

.m {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
	letter-spacing: 1pt;
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #FBEEC1;
    padding: 0 0 2rem;
}
#content {
     min-height: 100%;
}

.subhead {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    font-size: 2rem;
    text-align: center;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    padding: .4rem;
    color: white;
    text-shadow: 3px 3px 5px black;
}

.navigation {
    max-width: 100%;
    margin: 0 auto;
	background-color: #BC986A;
	list-style: none;
	text-align: center;
	padding: 0;
}

.navigation li:first-child {
	display: inline-block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
    color: black;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
	text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.navigation a:hover {
	color:#BC986A;
	background-color: #fff;
	font-weight: 700;
}
.active {
    background-color: #8D8741;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) 
to display block because the repsonsive class is added to the end of the class list 
like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}
/* ***************************************** */

#bannerad {
    visibility: hidden;
    position: fixed;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #000; 
    padding: 10px;
	background-color: rgba(255, 20, 145, 0.4);
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.contentbox {
    display: block;
    max-width: 60rem;
    height: auto;
    margin: auto;
    border: 1px solid #000; 
    padding: 10px;
	background-color: #BC986A;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
h2 {
    text-align: center;
}
.herodiv {
    position: relative;
    display: block;
    max-width: 60rem;
    margin: auto;
    border: 1px solid #000; 
    padding: 1rem;
	background-color: #BC986A;
}

.hero-ph {
    box-shadow: 5px 5px 5px black;
}
.weathersummary {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 14rem;
    height: auto;
    /* background-image: radial-gradient(ellipse, white, transparent 70%); */
    background-color: rgba(10, 36, 169, 0.5);
    border: 1px solid blue;
    padding: 1rem;
    box-shadow: 5px 5px 5px black;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
}
.weathertitle {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
}
.weatherinfo {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: .5rem;
    padding: .5rem .5rem .5rem .5rem;
    font-size: 1.2rem;
}
.c1 {
    justify-content: right;
    color: white;
}
.c2 {
    color: yellow;
}

/*******************************************************
*********5-Day Forecast Table ************************
****************Start********************************* */
.forecastdiv {
    display: block;
    max-width: 60rem;
    height: auto;
    margin: auto;
    padding: 1rem;
    border: 1px solid #000; 
    background-color: #BC986A;
    align-content: center;
}

.forecastheading {
    align-content: center;
    font-size: 2.2rem;
    text-align: center;
    background: #8D8741;
    border: 4px solid #000; 
    padding: .4rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 5px black;
}

#forecasttable {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    height: auto;
  }
  
#forecasttable td, #forecasttable th {
    border: 4px solid black;
  }
  
  #forecasttable th {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-style: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #8D8741;
    color: white;
  }
  #forecasttable td {
    font-family: 'Baloo Chettan', cursive;
    font-size: 2rem;
    font-style: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: white;
    color: darkblue;
    font-weight: bolder;
  }

.weather-icon {
    max-width: 6rem;
    height: auto;
}

  /* ******************End*********************************
  *********5-Day Forecast Table ************************
  ****************************************************** */


.article {
    display: block;
    max-width: 60rem;
    margin: 10px auto;
    border: 1px solid #000; 
    padding: 1rem;
    background-color: #BC986A;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.articleimg {
    width: 20rem;
    height: auto;
    float: right;
    box-shadow: 5px 5px 5px black;
}
.contact  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 60rem;
    height: auto;
    margin: 10px auto;
    padding: 1rem;
    background-color: #BC986A;
    border: 1px solid #000; 
    font-family: 'Raleway', sans-serif;
    line-height: 1.8rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.contactimg {
    width: 22rem;
    height: auto;
    padding: .1rem 0rem .1rem .1rem;
    box-shadow: 5px 5px 5px black;
}

.address {
    width: 13rem;
    height: auto;
    justify-content: left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3rem;
    padding: 1rem .5rem 0rem 2rem;
}

.sm {
    width: 2rem;
    height: auto;
    justify-content: left;
    padding: .2rem .2rem .2rem 0rem;
}

.pin {
    width: .7rem;
    height: auto;
}

.map {
    width: 14rem;
    height: auto;
    padding: .6rem 2rem .5rem 5rem;
}


footer {
    max-width: 60rem;
	margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000; 
	padding: 1rem;
    background-color: #659DBD; 
    text-align: center;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#info {
    color: white;
    font-size: 1rem;
    font-style: bold;
}

.link {
    color: white;
  }

.date {
    color: white;
  }
