// VARIABLES
$color-1: #78A83B; // green - rgb(120, 168, 59)
$color-2: #DC9A76; // peach - rgb(220, 154, 118)
$color-3: #E6D5BE; // light gray - rgb(230, 213, 190)
$color-4: #302A26; // dark gray - rgb(48, 42, 38)
$color-5: #C4EC76; // light green - rgb(196, 236, 118)
$color-6: #ffffff; // white
$color-7: #000000; // black
$text-upper: UPPERCASE;
$font-body: 'Gothic A1', sans-serif;
$font-headers: 'Uncial Antiqua', cursive;