/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {

	#logo {
		width: 100%;
	}
	.headings h1 {
		font-size: 2.5rem;
	}
	.headings .m {
		letter-spacing: 1.5pt;
		font-size: 1.6rem;
		margin-left: 1rem;
	}

	.navigation li:first-child {
		text-align: center;
		display: inline-block;
	}
	
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		font-size: 1.2rem;
		text-align: center;
	}
	.contentbox {
		font-size: 1rem;
	}

/*******************************************************
*********5-Day Forecast Table ************************
****************Start********************************* */

.forecastdiv {
    display: block;
    max-width: 60rem;
    height: auto;
    margin: auto;
    padding: 1rem;
    border: 1px solid #000; 
    background-color: #BC986A;
    align-content: center;
}

.forecastheading {
    align-content: center;
    font-size: 2.2rem;
    text-align: center;
    background-color: #659DBD; 
    border: 4px solid #000; 
    padding: .4rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 5px black;
}

#forecasttable {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    height: auto;
  }
  
#forecasttable td, #forecasttable th {
    border: 4px solid black;
  }
  
  #forecasttable th {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #8D8741;
    color: white;
  }
  #forecasttable td {
    font-family: 'Baloo Chettan', cursive;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: white;
    color: darkblue;
    font-weight: bolder;
  }

  /*******************End*********************************
  *********5-Day Forecast Table ************************
  ****************************************************** */

  .article {
    display: block;
}
.articleimg {
    width: 20rem;
    height: auto;
    float: right;
    margin: 1rem;
    box-shadow: 5px 5px 5px black;
}

.map {
  display: flex;
	width: 14rem;
  height: auto;
  padding: 1rem;
}
/* ************** Home Page *************************** */
/* -------------------townsites--------------------- */
.townsites {
  display: flex;
  flex-wrap: wrap;
}

main section {
display: flex;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

section:nth-child(odd) {
  flex-direction: row-reverse;
}

section div {
  margin: auto;
  padding: 1rem;

}

section img {
  width: 100%;
  height: auto;
  margin: 1rem;
}

}
