.medwire-body {
    background-color: rgb(154, 150, 163);
    display: flex;
    justify-content: center;
    text-align: center;
}

 .medwire {
    font-size: 1.3rem;
    color: black;
    font-family: 'Baloo Chettan', cursive;
    letter-spacing: 1pt;
 }