body {
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
header {
    max-width: 100%;
	margin: 0 auto;
    background-color: #659DBD; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
    border: 1px solid #000; 
    box-shadow: 5px 5px 5px black;
}

.headings {
	display: flex;
    flex-direction: column;
    margin: 0 0 0 17px;
    padding-left: 2rem;
}

.headings h1 {
	font-size: 1.6rem;
    color: white;
    font-family: 'Baloo Chettan', cursive;
	letter-spacing: 1pt;
    text-shadow: 5px 5px 5px black;
}

.headings .m {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
	letter-spacing: 1pt;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #FBEEC1;
    padding: 0 0 2rem;
}
#content {
     min-height: 100%;
}

.subhead {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    padding: .4rem;
    color: white;
    text-shadow: 3px 3px 5px black;
}

.navigation {
    max-width: 100%;
    margin: 0 auto;
	background-color: #BC986A;
	list-style: none;
    padding: 0;
}

.navigation li:first-child {
	display: inline-block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
    color: black;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: bold;
	text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.navigation a:hover {
	color:#BC986A;
	background-color: #fff;
	font-weight: 700;
}
.active {
    background-color: #8D8741;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) 
to display block because the repsonsive class is added to the end of the class list 
like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

/* ------------- JSON Townsites ------------------------------------ */

.townsites {
    max-width: 60rem;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    background-color: #BC986A;
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    border: 1px solid #000; 
}

.townsites section {
    height: auto;
    justify-content: center;
    text-align: center;
    padding: 5px;
    padding-bottom: 1rem;
    align-content: center;
    background-color: #FBEEC1;
    border: 1px solid black;
}

.townsites h2 {
    font-size: 2rem;
}

h3 {
    font-size: 16px;
    height: 32px;
    font-style: italic;
}

.townsites p {
    font-size: 1rem;
    font-weight: bold;
}

.p3 {
    padding-bottom: 16px;
}

.townsites img {
    height: 20rem;
    width: auto;
    box-shadow: 0 0 20px black;
}

/* --------------- Idaho Weather Article -------------------- */

article {
    display: flex;
    flex-flow: column;
    max-width: 60rem;
    height: auto;
    margin: 10px auto;
    padding: 1rem;
    border: 1px solid black; 
	background-color: #BC986A;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.author {
    font-size: 1.1rem;
    font-weight: bold;
}
.article {
    padding: 1rem;
    background-color: #FBEEC1;
    border: 1px solid black; 
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: normal;
}
.articleimg {
    order: 2;
    max-width: 100%;
    margin: 1rem auto;
    box-shadow: 0 0 20px black;
}

/* --------------wireframes--------------------- */

.wireframes {
    max-width: 60rem;
    height: auto;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    background-color: #BC986A;
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    border: 1px solid #000; 
}
.linkdiv {
    height: auto;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    background-color: #FBEEC1;
    margin: .5rem;
    border: 1px solid black;
}
.wtitle {
    text-align: center;
    justify-content: center;
    background-color: #659DBD; 
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.links {
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    justify-content: left;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.weather {
    justify-content: center;
    align-content: center;
    height: auto;
    width: 300px;
    margin: 1rem;
    box-shadow: 0 0 20px black;

}
.snow {
    justify-content: center;
    align-content: center;
    height: auto;
    width: 300px;
    margin: 1rem;
    box-shadow: 0 0 20px black;
}
/* ---------------------- Contact ----------------------------------- */

.contact  {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    max-width: 60rem;
    height: auto;
    margin: 10px auto;
    padding: 1rem;
    background-color: #BC986A;
    border: 1px solid #000; 
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.contactimg {
    display: none;
}

.address {
    align-content: center;
    justify-content: left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;

    white-space: nowrap;
}

.sm {
    width: 2rem;
    height: auto;
    justify-content: left;
    padding: .2rem .2rem .2rem 0rem;
}

.pin {
    width: .7rem;
    height: auto;
    background-color: transparent;
}

.map {
    display: none;
}

/* ----------------- Footer ----------------------------- */

footer {
    max-width: 60rem;
	margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000; 
	padding: 1rem;
    background-color: #659DBD; 
    text-align: center;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: black;
    font-weight: 900;
}

#info {
    /* color: white; */
    /* font-size: 1rem; */
}

.link {
    /* color: white; */
     color: black; 
  }

.date {
    /* color: white; */
  }
