
body {
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
header {
    max-width: 100%;
	margin: 0 auto;
    background-color: #659DBD; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    width: 80px;
    height: auto;
    border: 1px solid #000; 
    box-shadow: 5px 5px 5px black;
}

/* .logo {
    width: 80px;
    height: auto;
    border: 1px solid #000; 
    box-shadow: 5px 5px 5px black;
} */

.headings {
	display: flex;
    flex-direction: column;
    margin: 0 0 0 17px;
    padding-left: 2rem;
}

.headings h1 {
	font-size: 1.6rem;
    color: white;
    font-family: 'Baloo Chettan', cursive;
	letter-spacing: 1pt;
    text-shadow: 5px 5px 5px black;
}

.headings .m {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
	letter-spacing: 1pt;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #FBEEC1;
    padding: 0 0 2rem;
}
#content {
     min-height: 100%;
}

.subhead {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    padding: .4rem;
    color: white;
    text-shadow: 3px 3px 5px black;
}

.navigation {
    max-width: 100%;
    margin: 0 auto;
	background-color: #BC986A;
	list-style: none;
    padding: 0;
}

.navigation li:first-child {
	display: inline-block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
    color: black;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: bold;
	text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.navigation a:hover {
	color:#BC986A;
	background-color: #fff;
	font-weight: 700;
}
.active {
    background-color: #8D8741;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) 
to display block because the repsonsive class is added to the end of the class list 
like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

/*----------- MAIN --------------*/


/* Storm Center */
.title {
   
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    color: white;
    text-shadow: 3px 3px 5px black;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

/*----------Weather Form------------------------*/

/* ---Subhead - Report the Weather in Your Area */
.report {
    display: flex;
    max-width: 60rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    margin: auto;
    justify-content: center;
    color: white;
    font-size: 2rem;
    background-color: #659DBD;
    border: 4px solid #000; 
    text-shadow: 3px 3px 5px black;
    padding-top: .5rem;
    padding-bottom: .5rem; 
}

/* ---dark brown box--- */
.box {
    display: flex;
    max-width: 60rem;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    margin: auto;
    border-right: 4px solid #000; 
    border-left: 4px solid #000; 
    background-color: #BC986A;
}
/* -----------tan form box -------- */
#stormform {
    display: flex; 
    width: 50%;
    min-width: 20rem;
    height: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: #FBEEC1;
    border-collapse: collapse;
    justify-content: center;
}

/* ----blue fieldset boxes---- */
form fieldset {
    display: flex;
    margin: 1rem;
    border: 4px solid #445ba9;
    border-collapse: collapse;
    border-radius: 10px;
    justify-content: center;
}

/* -----blue form title----- */
form legend {
    color: #445ba9;
    font-size: 1.5rem;
    font-weight: bold; 
    margin-left: .5rem;
}

.top, .storm, .radio, .comment {
    display: block;
    border-collapse: collapse;
    padding: .5rem;
    color: #9c2c13;
    font-size: 1.2rem;
    font-weight: bold;
}

/* -----------------focus------------------- */

.top:focus, .comment:focus {
    box-shadow: 0 0 15px rgb(151, 148, 148);
}

/* --inside the input box---- */
.top input,
.top select,
.comment input,
textarea {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    border: solid 4px rgb(156, 150, 141);
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 92%;
    border-collapse: collapse;
    background-color: rgba(178, 219, 245, 0.356);
}

/* ---Storm Severity (1 to 10)--- */
#ratingvalue {
    position: relative;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    border: solid 4px rgb(156, 150, 141);
    border-radius: 4px;
    background-color: rgba(178, 219, 245, 0.356);
  }

  .stormseverity {
      padding-bottom: 1rem;
  }
  

/* ---Storm Region input box--- */
.top select {
    width: 100%;
}

/* -----no, maybe, yes----- */
form label.sbs {
    display: block;
    padding: .3rem;
    color: #9c2c13;
    font-weight: bold;
    font-size: 1.2rem;
}

/* ---Label- Are you in danger?--- */
p {
    color: #9c2c13;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
}

/* ---inside comment box--- */
textarea {
    height: 5rem;
    width: 88%;
}

/* ---red/blue submit button--- */
.submit-button {
    border: 4px solid black;
    background-color: #9c2c13;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 100%;
    max-width: 15rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 10px black;
}
.submit-button:hover { background-color: #8D8741; color: white; }

form label.top input:required {
    border: #9c2c13 solid 4px;
}

form label.top input:required:valid {
    border: #8D8741 solid 4px;
    background-color: rgb(204, 241, 204);
}

input:hover,
form label.top select {
    cursor: pointer;
}

/*----------- FOOTER --------------*/

footer {
    max-width: 60rem;
	margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #000; 
	padding: 1rem;
    background-color: #659DBD; 
    text-align: center;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: black;
    font-weight: 900;
}

#info {
    /* color: white; */
    /* font-size: 1rem; */
}

.link {
    /* color: white; */
    color: black;
  }

.date {
    /* color: white; */
  }
