body {
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
header {
    max-width: 100%;
	margin: 0 auto;
    background-color: #659DBD; 
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
    border: 1px solid #000; 
    box-shadow: 5px 5px 5px black;

}

.headings {
	display: flex;
    flex-direction: column;
    margin: 0 0 0 17px;
    padding-left: 2rem;
}

.headings h1 {
	font-size: 1.6rem;
    color: white;
    font-family: 'Baloo Chettan', cursive;
	letter-spacing: 1pt;
    text-shadow: 5px 5px 5px black;
}

.headings .m {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
	letter-spacing: 1pt;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px #FBEEC1;
    padding: 0 0 2rem;
}
#content {
     min-height: 100%;
}

.subhead {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    background: #8D8741;
    border-top: 4px solid #000; 
    border-bottom: 4px solid #000; 
    padding: .4rem;
    color: white;
    text-shadow: 3px 3px 5px black;
}

.navigation {
    max-width: 100%;
    margin: 0 auto;
	background-color: #BC986A;
	list-style: none;
    padding: 0;
}

.navigation li:first-child {
	display: inline-block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
    color: black;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: bold;
	text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.navigation a:hover {
	color:#BC986A;
	background-color: #fff;
	font-weight: 700;
}
.active {
    background-color: #8D8741;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) 
to display block because the repsonsive class is added to the end of the class list 
like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}
/* ***************************************** */

#bannerad {
    width: 100vw;
    margin: 0 auto;
    display: none;
    /* visibility: hidden; */
    text-align: center; 
    border: 1px solid #000; 
    padding: .8rem;
	background-color: rgba(255, 20, 145, 0.4);
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    position: fixed;
    z-index: 1;
}

.contentbox {
    display: block;
    max-width: 60rem;
    height: auto;
    margin: auto;
    border: 1px solid #000; 
    padding: 10px;
	background-color: #BC986A;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
h2 {
    text-align: center;
}
.herodiv {
    position: relative;
    display: block;
    max-width: 60rem;
    margin: 10px auto;
    border: 1px solid #000; 
    padding: 1rem;
	background-color: #BC986A;
}

.hero-ph {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 5px 5px 5px black;
}
.weathersummary {
    position: absolute;
    margin: 0 auto;
    top: 1rem;
    left: 1rem;
    width: auto;
    height: auto;
    /* background-image: radial-gradient(ellipse, white, transparent 70%); */
    background-color: rgba(10, 36, 169, 0.5);
    padding: 1rem;
    box-shadow: 5px 5px 5px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.weathertitle {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
}
.weatherinfo {
    /* min-width: 340px; */
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: .5rem;
    padding: .5rem .5rem .5rem .5rem;
    font-size: 1.2rem;
}

.c1 {
    display: inline-grid;
	text-align: right;
    color: white;
}
.c2 {
	text-align: left;
    color: yellow;
}

/*******************************************************
*********5-Day Forecast Table ************************
****************Start********************************* */
.forecastdiv {
    display: none;
}

/* ******************End*********************************
  *********5-Day Forecast Table ************************
  ****************************************************** */

.article {
    display: flex;
	justify-items: flex-start;
	flex-direction: column;
    max-width: 60rem;
    margin: 10px auto;
    border: 1px solid #000; 
    padding: 1rem;
    background-color: #BC986A;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.articleimg {
    order: 2;
    max-width: 100%;
    margin: 1rem auto;
    box-shadow: 5px 5px 5px black;
}
.contact  {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    max-width: 60rem;
    height: auto;
    margin: 10px auto;
    padding: 1rem;
    background-color: #BC986A;
    border: 1px solid #000; 
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.contactimg {
    display: none;
}

.address {
    align-content: center;
    justify-content: left;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;

    white-space: nowrap;
}

.sm {
    width: 2rem;
    height: auto;
    justify-content: left;
    padding: .2rem .2rem .2rem 0rem;
}

.pin {
    width: .7rem;
    height: auto;
    background-color: transparent;
}

.map {
    display: none;
}

footer {
    max-width: 60rem;
	margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000; 
	padding: 1rem;
    background-color: #659DBD; 
    text-align: center;
    line-height: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: black;
    font-weight: 900;
}

#info {
    /* color: white; */
    /* font-size: 1rem; */


    /* font-size: 1.2rem; */
    /* color: black; */
    /* font-family: 'Baloo Chettan', cursive; */
	/* letter-spacing: 1pt; */
    /* text-shadow: 5px 5px 5px black; */

}

.link {
    /* color: white; */
    /* color: black; */
  }

.date {
    /* color: white; */
    /* color: black; */
  }
