/* 3 columns for large sized screens */

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	nav a {
		font-size: 1.1rem;
    }
    /* view changed to 3 fractional columns*/
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}

    h1 {
        font-size: 2.5rem;
    }
    
    

}