/* 2 columns for medium sized screens (600px is 37.5em)*/

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	/* Horizontal Menu */
	/* Flex *********************/
		nav ul { display: flex; }
			nav ul li { flex: 1 1 100%; }
	
	nav a {
		font-size: 1rem;
	}
	main {
        grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
    }
    
	main picture {
        display: block;
        margin: 0.5rem;
        border-radius: 20px;
        border: 4px solid rgb(73, 71, 71);
        background-color: black;
        box-shadow: 20px 20px 20px #403E49;
        right: 30px;
        top: 30px;
	}
	main picture img {
        width: 100%;
		height: auto;
        border-radius: 16px;
	}
}