@import url('https://fonts.googleapis.com/css?family=Allura|Architects+Daughter|Bad+Script|Bilbo+Swash+Caps|Covered+By+Your+Grace|Gruppo|Happy+Monkey|Julius+Sans+One|Love+Ya+Like+A+Sister|Metrophobic|Rock+Salt|Sansita|Shadows+Into+Light+Two|Spectral+SC|Walter+Turncoat&display=swap');
body {
  background: url(images/bg-salmon-kayak.jpg) no-repeat;
  background-size: 250%;
}
#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #d8d8d8;
}
.leftcol, .rightcol {
  max-width: 48%;
  flex: 1 0 15em;
  padding: 10px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Gruppo', cursive, sans-serif;
  font-size: 2.25em;
  line-height: 1.1em;
  color: #0b0b82;
  text-align: center;
  padding: 10px;
}    
p {
  font-family: 'Architects Daughter', Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #0b0b82;
  padding: 10px;
}


nav {
  background-color: #cc76a1;
  padding: 1em;
  margin-top: -87px;
}
nav a {
  color: #0b0b82;
  line-height: 2em;
  padding: .5em 1em;
  text-decoration: none;
}
nav li {
  font-family: 'Metrophobic', Geneva, sans-serif;
  font-size: 1.5em;
  display: inline-block;
  padding-left: 140px;
  list-style-type: none;
}
nav ul {
margin: 0;
}
nav a:hover {
  background-color: #403E49;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}


.sec1, .sec2, footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.sec2 {
  background-color: #cc76a1;
}  
.sec3 {
  text-align: center;
}
footer {
  background-color: #2C78B2;
}
.pspec, .hspec {
  color: black;
}


 img {
 max-width: 100%;
}
#logo {
  width: 150px;
  position: relative;
  background-color: white;
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #403E49;
  left: 10px;
  top: 10px;
}
.banner {
  width: 100%;
}
.img1, .img2 {
  width: 450px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #403E49;
}


.icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #403E49;
}
.socialmedia {
  padding: 15px;
  float: right;
}
#info {
  font-family: 'Happy Monkey', Geneva, sans-serif;
  font-size: 14px;
  color: black;
}
/* Page 2 - Adventures - CSS Code
    css-transparent-text-effects */

.ban2 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 40vh;
    background: url(images/bg-raindrops-on-window-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid black;
    border-bottom: 5px solid black;
  }
  .ban-style2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 8em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    background: rgba(0,0,0,.2);
  }
  .ban3 {
 background-color: #403E49; 
  background: linear-gradient(300deg, #537895 0%, #09203f 55%, #537895 75%);
  border-top: 5px solid black;
    border-bottom: 10px solid black;

  }
  .ban-style3 {
 text-align: center;
    font-size: 3em;
    color: #fff;
  }

  /*css-show-text-over-an-image-on-hover*/

  .textOverImage{
    position:relative;
    width:300px;
    height:300px;
    float:left;
    margin:4px;
    background-size:100%;
    background-position:center;
    background-size: cover;
    transition:0.5s;
  }
  
  .textOverImage:hover{
    background-size:100%;
    background-size: cover;
  }
  
  .textOverImage:after{
    position:absolute;
    top:90%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0 8px;
    content:attr(data-text); /* 'data-text' is a custom attribute */
    transition:0.5s;
  }
  
  .textOverImage:hover:after{
    top:0;
    padding:8px;
    background-color:rgba(0,0,0,0.6);
  }

  /* Title text */
  .textOverImage:first-line{
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
  }

/* Page 3 - Adventures - CSS Code */

/* css-transparent-text-effects */

 .ban2p3 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 40vh;
    background: url(images/water14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 10px solid black;
    border-bottom: 5px solid black;
  }
.ban-style2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 8em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    background: rgba(0,0,0,.2);
  }
  .ban3 {
 background-color: #403E49; 
  background: linear-gradient(300deg, #537895 0%, #09203f 55%, #537895 75%);
  border-top: 5px solid black;
    border-bottom: 10px solid black;
  }
  .ban-style3 {
 text-align: center;
    font-size: 3em;
    color: #fff;
  }
/* THE CARDCONTAINER HOLDS EVERYTHING */
  .cardcontainer {
    position: relative;
    width: 300px;
    height: 300px;
    background: none;
    float:left;
    margin: 5% 5% 5% 5%;
    /*transform: translate(-50%, -50%);*/
  }
  
 /* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-size:100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #2C78B2;
  color: white;
  text-align: left;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.h2p3 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.thefront, .theback {
  font-family: 'Gruppo', cursive, sans-serif;
  padding: 10px;
  font-weight: normal;
  font-size: 1.2em;
  text-align: left;
}
/*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */



