$primaryColor: rgb(200, 218, 171);

// $font-family: 'Josefin Slab', serif;
// $regularWeight: 400;
// $heavyWeight: 700;

$fontHead: 'Parisienne', cursive;
$fontSubhead: 'Bad Script', cursive;
$fontBody: 'Montserrat', sans-serif;


$gutter: 2%;

// font-family: 'Parisienne', cursive;
// font-family: 'Bad Script', cursive;
// font-family: 'Baskervville', serif;
// font-family: 'Montserrat', sans-serif;

